name: "ai-pr-reviewer"

services:
    db:
        image: postgres:15-alpine
        env_file:
            - ../.env.local
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data
    app:
      build:
        context: ../
        dockerfile: Dockerfile.local
      env_file:
        - ../.env.local
      command: uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      ports:
        - 8000:8000
      volumes:
        - ../:/app         
        - /app/.venv
      depends_on:
        - db
        - redis

    redis:
        image: redis:7-alpine
        env_file:
            - ../.env.local
        ports:
            - 6379:6379
        volumes:
            - redis_data:/data


volumes:
    postgres_data: 
        driver: local
    redis_data:
        driver: local